* {
    padding:0;
    margin: 0%;
}



nav {
    background-color:   #9dd2ca ;
    margin: 15px 180px 15px 180px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family: Arial, Helvetica, sans-serif; 
    flex-wrap: wrap;
    margin-top: 25px;
}

li {
    list-style: none;
    margin: 25px;

}

 /* En realidad es el body entero el que lleva este margin que le puse al nav. */


 main {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.servicios {
    background-color: #67b7b6;
    display: inline-block;
    width: 20%;
    height: 700px;
    margin-top: 1rem;

}



.lado2 {
    background-color: #f87a7d;
    width: 60%;
    margin-top: 1rem;
    justify-content: center;
    
}

h6 {
    display: inline-block;

                    
 }

 footer {
            margin: 15px 180px 15px 180px;
            height: 70px;
            background-color: #9dd2ca;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif; 
                    
                    
        }

    .padre {
        background-color: #fdaaad;
        align-items: center;
        width: 95%;
        margin-top: 250px;
        align-items: center;
        justify-content: center;

    }

    .hijo1  {
        background-color:#d9d5d7;
        margin-top: 100px;
    } 

    .hijo2  {
        background-color:#d9d5d7;
    } 

    .hijo3  {
        background-color:#d9d5d7;
    } 
    
